*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#login{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 500px;
    background-color: white;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: start;
    align-items: start;
    box-sizing: border-box;
    border: 1px solid #ccc;

}
.login {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    box-sizing: border-box;
    margin-top: 20px;
}
.login h1 {
    margin-right: 20px;
    margin-left: 20px;
    color: #0091ff;
    margin-top: 8px;
}
.login h3 {
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: x-large;
}
.login input {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 30px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login button {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 30px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #0091ff;
    color: white;
}
.label input{
    justify-content: center;
    align-items: center;
}
