#register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}
.register{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.register h1{
    margin-right: 20px;
    margin-left: 20px;
    color: blue;
}
.label{
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}