*{
    margin: 0;
    padding: 0;
    justify-content: space-around;
    align-items: center;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 5px 10px;
    color: white;
  }
  
  .panel {
    display: flex;
    align-items: center;
  }
  
  .panel h1 {
    margin-right: 20px;
    margin-left: 140px;
  }
  .panel h3{
    color: rgb(134, 131, 131);
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 140px;
  }
  
  li {
    display: inline;
    margin-right: 20px;
    font-size: larger;
  }
  
  a {
    color: rgb(134, 131, 131);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }